
body {
	padding: 0 30px;
	font-size: 16px;
	font-family: "Arial", sans-serif;
    position: relative;
    height: 100%;
    margin: 30;
}

h1 {
	text-align:center;
	color:DarkCyan;
    margin: 0px;
    padding-top: 24px;
    padding-bottom: 8px;
    font-weight: bold;
    font-size: 36px;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

h2 {
	text-align:center;
    margin: 20px;
    padding-top: 8px;
    padding-bottom: 4px;
    font-weight: bold;
    font-size: 32px;
    font-family: 'Arial', sans-serif;
    color: #008b8b;
}

li .phone {
	padding: 10px;
	color: #008b8b;
	list-style-image: url(images/phone.png);
}

li .mail {
	padding: 10px;
	color: #008b8b;
	list-style-image: url(images/mail.png);
}

p {
	font-family: 'Comic Sans MS', sans-serif;
	text-align:center;
	font-size: 16px;
}

.block {
background: linear-gradient(to top, #FFFFFF, #B0E0E6);
display:inline-block;
width:100%;
height:100%;
margin: 10px;
border-radius: 10 px;
box-shadow: 1px 1px 3px #999999;
text-align:center;
}

.block-1 {
background: white;
display:inline-block;
width:100%;
height:100%;
margin: 10px; 
padding:10px;
border-radius: 10 px;
box-shadow: 1px 1px 3px #999999;
text-align:center;
}

.photo {
	transform: rotate(30deg);
	text-align:center;
	border-radius: 50%;
	box-shadow: 1px 1px 5px #999999;
}

.skills dd {
	margin:0;
	margin-bottom:10px;
	background-color: #e8e8e8;
}

.skills-lvl {
	text-align:center;
	color:#ffffff;
	background-color: #008b8b;
}
